$font-basic: 'Inter', sans-serif;
$font-accent: 'Larsseit', sans-serif;
$font-title: 'Poppins', sans-serif;

$dark-blue:  #000046;
$basic-blue: #44A1E7;
$dark-grey: #F0F1F4;
$brown-grey: #4F4F4F;
$grey: #F5F5F5;
$white: #FFFFFF;
$second-blue: #6D7DA0;

$tablet-width: 768px;
$desktop-width: 1280px;