.clients{
    position: relative;
    padding: 100px 20px 0;
}

.clients__text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.clients__desc{
    padding: 44px 26px;
    background-color: $dark-grey;
    border-left: 1px solid $basic-blue;
    color: $brown-grey;
}

.clients__numb{
    position: absolute;
    top: -60px;
      right: 20px;
      background-image: url(../../img/svg/05.svg);
}