.post{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10px 45px;
}
.post__title{
    font-family: $font-title;
    font-size: 18px;
font-weight: 500;
line-height: 130%;
color: $dark-blue;
}

.post__text{
    font-size: 14px;
    line-height: 160%;
    color: $brown-grey;
}

.post__link{
    display: flex;
    justify-content: space-between;
}

.post__date{
    font-family: $font-accent;
    font-size: 13px;
    font-weight: 300;
    align-self: self-end;
line-height: 170%;
letter-spacing: 1.3px;
text-transform: uppercase;
color: $second-blue;
}