.services{
    position: relative;
    background-color: $dark-blue;
    color: $white;
}

.services__numb{
  position: absolute;
  top: -60px;
    left: 20px;
    background-image: url(../../img/svg/02.svg);
}

.services__wrapper{
    display: flex;
    flex-direction: column;
    padding: 126px 20px 0;
    gap: 30px;
    margin-bottom: 100px;
    text-align: center;
}
.services__text{
    color: $dark-grey;
}

.services__list{
    list-style: none;
}

.services__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px 45px;
}

.services__item:hover{
    background-color: $white;
    color: $dark-blue;
}

.services__img{
    width: 315px;
}
.service-item__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services__link span{
    color: $white;
}

.services__link:hover span{
    color: $basic-blue;
}

.services__item:hover .services__link span{
    color: $dark-blue;
}