.verticals{
    position: relative;
    padding: 137px 20px 100px;
}

@media (min-width: $desktop-width) {
    .verticals{
        display: flex;
        gap: 40px;
    }
  }

  @media (min-width: 1440px) {
    .verticals{
        padding: 223px 0 106px 80px;
    }
  }

.verticals__numb{
    position: absolute;
  top: -60px;
    left: 20px;
    background-image: url(../img/svg/03.svg);
}

.verticals__wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

@media (min-width: $desktop-width) {
    .verticals__wrapper{
        max-width: 510px;
    }
  }

.verticals__btn{
    margin-bottom: 100px;
}

.verticals__slider{
    overflow: hidden;
}